h2{
    margin-top: 5em;
    font-size: larger;
    text-decoration: underline;
}

p{
    margin-top: 1em;
    font-weight: 3em;
}

.number{
    font-size: larger;
    font-weight: bold;
    margin-top: 3em;
    border: 4px solid;
    width:2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
}

.leftButton{
    margin-top: 1em;
    margin-right: 1em;
    width: 2em;
    height: 1em;
    background-color: red;
}

.rightButton{
    margin-top: 1em;
    margin-left: 1em;
    width: 2em;
    height: 1em;
    background-color: blue;
}

.GoButton{
    margin-top: 1em;
    background-color: lime;
}