body {
  background-image: url('./assets/mountains.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.playButton button{
  width: 20%;
  height: 15%;
  margin-left: 45em;
}

.sadKeanu {
  margin-left: 15em;
  width: 40%;
}

.amberHeard{
  margin-left: 5em;
}